<!-- Topbar -->
<nav class="topbar topbar-expand-md topbar-sticky" id="section-top">
  <div class="container">

    <div class="topbar-left">
      <a class="topbar-brand" href="/">
        <img class="logo-default" src="assets/img/CanYa_CanShare.svg" width="auto" height="36px" alt="logo">
      </a>
    </div>

    <div class="topbar-right d-print-none">
      <nav>
        <button class="btn btn-primary btn-outline" (click)="info.displayAboutModal()">About</button>
      </nav>
    </div>

  </div>
</nav>
<!-- END Topbar -->
