<!-- Topbar -->
<nav class="topbar topbar-expand-md topbar-sticky" id="section-top">
  <div class="container">

    <div class="topbar-left">
      <a class="topbar-brand" href="/">
        <img class="logo-default" src="assets/img/CanYa_CanShare.svg" width="auto" height="36px" alt="logo">
      </a>
    </div>

    <div class="topbar-right d-print-none">
      <ul class="topbar-nav nav mr-3">
        <li class="nav-item">
          <a class="nav-link" href="https://blog.canya.com.au/" target="_blank">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://forum.canya.io" target="_blank">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://t.me/canyacoin" target="_blank">Telegram <i aria-hidden="true" class="fab fa-telegram"></i></a>
        </li>
      </ul>
      <button class="btn btn-primary" (click)="info.displayAboutModal()">About</button>
    </div>

  </div>
</nav>
<!-- END Topbar -->
