<div class="card-div">
  <div class="card ms__fadeUp">
    <img class="card-illustration" src="assets/illustrations/CanTransfer.svg">
    <br>
    <img class="card-logo" src="assets/img/CanTransfer.svg">
    <p>Transfer your files around the world using decentralized technology!</p>
    <a href="https://cantransfer.io" target="_blank">Check it out</a>
  </div>

  <div class="card ms__fadeUp">
    <img class="card-illustration" src="assets/illustrations/CanInvoice.svg">
    <br>
    <img class="card-logo" src="assets/img/CanInvoice.svg">
    <p>Easily create your own clean, professional and accurate invoices.</p>
    <a href="https://caninvoice.io" target="_blank">Check it out</a>
  </div>

  <div class="card ms__fadeUp">
    <img class="card-illustration" src="assets/illustrations/CanYa25.svg">
    <br>
    <img class="card-logo" src="assets/img/CanYa25.svg">
    <p>Shoot your pitch, vote, contribute and raise funds!</p>
    <a href="https://canya25.io" target="_blank">Check it out</a>
  </div>

  <div class="card ms__fadeUp">
    <img class="card-illustration" src="assets/illustrations/CanSend.svg">
    <br>
    <img class="card-logo" src="assets/img/CanSend.svg">
    <p>Send ERC20 tokens to multiple addresses at once!</p>
    <a href="https://cansend.io" target="_blank">Check it out</a>
  </div>

  <div class="card ms__fadeUp">
    <img class="card-illustration" src="assets/illustrations/CanStation.svg">
    <br>
    <img class="card-logo" src="assets/img/CanStation.svg">
    <p>Find out the ideal amount of gas to allocate to your ETH transaction!</p>
    <a href="https://canstation.io" target="_blank">Check it out</a>
  </div>

  <div class="card ms__fadeUp">
    <img class="card-illustration" src="assets/illustrations/CanTrack.svg">
    <br>
    <img class="card-logo" src="assets/img/CanTrack.svg">
    <p>A crisp and easy to use task tracker to help you with your project.</p>
    <a href="https://cantrack.io" target="_blank">Check it out</a>
  </div>
</div>
