<section id="files-list">
  <div class="container">

    <div class="files-list-bar">
      <div class="actions-dropdown">
        <div class="title">
          <span>Actions <i class="fa fa-chevron-down"></i></span>
        </div>
        <div class="files-list-actions">
          <div
            class="action {{ (info.selectedFiles.length <= 0) ? 'disabled' : '' }}"
            (click)="applyAction('share-multiple-files')"
            data-toggle="tooltip" data-placement="right" title="" data-original-title="Share via email with a link attached for easy share and download.">
            <span>Share by email</span>
          </div>
          <div
            class="action text-danger {{ (info.selectedFiles.length <= 0) ? 'disabled' : '' }}"
            (click)="applyAction('remove-multiple-files')"
            data-toggle="tooltip" data-placement="right" title="" data-original-title="NOTE: Files cannot be removed from IPFS once they have been uploaded.">
            <span>Remove</span>
          </div>
        </div>
      </div>
      <div class="files-count">
        <span>{{ info.selectedFiles.length }} files selected</span>
      </div>
    </div>

    <div class="wrapper">
      <template #filesList></template>
      <div class="message" *ngIf="hasNoFiles">
        <p>You have uploaded no files</p>
      </div>
      <div class="text-center mt-3">
        <p class="text-muted">CanShare is powered by IPFS Technology.</p>
        <p class="text-muted">File download speed does not depend on CanYa infrastructure or service.<br>Files are uploaded to IPFS nodes which loading speeds depend on the IPFS network.</p>
      </div>
    </div>
  </div>
</section>
