<section id="files-list">
  <div class="container">

    <div class="files-list-actions">
      <div class="dropdown">
        <div class="input-group">
          <select name="files-list-actions" class="custom-select form-control form-control-sm" (change)="onActionChange($event)">
            <option value="">Select an action</option>
            <option value="share-multiple-files">Share by email</option>
            <option value="remove-multiple-files">Remove</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-sm" type="button" (click)="applyAction()" [disabled]="info.selectedFiles.length <= 0">Apply</button>
          </div>
        </div>
      </div>
      <div class="files-count">
        <span>{{ info.selectedFiles.length }} files selected</span>
      </div>
    </div>

    <div class="wrapper">
      <template #filesList></template>
      <div class="message" *ngIf="hasNoFiles">
        <p>You have uploaded no files</p>
      </div>
      <div class="text-center mt-3">
        <p class="text-muted">CanShare is powered by IPFS Technology. <i class="fa fa-question-circle" (click)="info.displayAboutModal()"></i></p>
        <p class="text-muted">File download speed does not depend on CanYa infrastructure or service.<br>Files are uploaded to IPFS nodes which loading speeds depend on the IPFS network.</p>
      </div>
    </div>
  </div>
</section>
