@import "./src/assets/sass/canya-can-share";

@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/print";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/bootstrap-grid";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/card";

@import "./src/assets/sass/fontawesome/fontawesome";
@import "./src/assets/sass/fontawesome/fa-brands";
@import "./src/assets/sass/fontawesome/fa-solid";

@import "./src/assets/sass/theme/utility/spacing";
@import "./src/assets/sass/theme/content/typography";
@import "./src/assets/sass/theme/layout/scafolding";
@import "./src/assets/sass/theme/layout/footer";
@import "./src/assets/sass/theme/layout/section";
@import "./src/assets/sass/theme/uikit/button";
@import "./src/assets/sass/theme/uikit/social";
@import "./src/assets/sass/theme/uikit/counter";
@import "./src/assets/sass/theme/uikit/scroll";
@import "./src/assets/sass/theme/uikit/nav";
@import "./src/assets/sass/theme/layout/topbar";

@import "./src/assets/sass/common/dropzone-component";

body {
  position: relative;
}

.site-wrapper {
  background-color: $gray-100;
  min-height: 100vh;
  padding-top: 112px;
}
