@import "sass/canya-can-share";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/print";
@import "bootstrap/scss/type";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/card";
@import "bootstrap/scss/images";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/close";
@import "bootstrap/scss/tooltip";

@import "sass/fontawesome/fontawesome";
@import "sass/fontawesome/fa-brands";
@import "sass/fontawesome/fa-solid";

@import "sass/theme/utility/spacing";
@import "sass/theme/content/typography";
@import "sass/theme/layout/scafolding";
@import "sass/theme/layout/footer";
@import "sass/theme/layout/section";
@import "sass/theme/uikit/button";
@import "sass/theme/uikit/social";
@import "sass/theme/uikit/counter";
@import "sass/theme/uikit/scroll";
@import "sass/theme/uikit/nav";
@import "sass/theme/layout/topbar";
@import "sass/theme/uikit/alert";

@import "sass/common/dropzone-component";
@import "sass/common/files-list-component";
@import "sass/common/file-component";
@import "sass/common/card";
@import "sass/common/forms";

body {
  background-color: $gray-100;
  position: relative;
}

.site-footer {
  background-color: white;
}

.site-wrapper {
  background-color: $gray-100;
  min-height: 100vh;
  padding-top: 112px;
}

#bancor-wc {
  background-color: white;
}

.modal {
  @include flex-column-center;
  background-color: rgba($black, 0.7);
  position: fixed;
  z-index: 100000;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  .modal-body {
    border-radius: $border-radius-lg;
    background-color: white;
    padding: get-spacer(3);
    min-height: 350px;
  }
}

#share-by-email-component {
  .modal-body {
    padding: get-spacer(5);
  }
}
