<article (click)="onClick($event)" class="{{ isSelected ? 'is-selected' : '' }} file">
  <div class="progress {{pctg == '100%' ? 'fade-out' : ''}}">
    <span [style.width]="pctg"></span>
  </div>
  <div class="content">
    <span class="name">{{ name }}</span>
  </div>
  <div class="cancel-upload" *ngIf="isUploading">
    <!-- <span class="text-danger" (click)="cancelUpload()">cancel upload</span> -->
  </div>
  <div class="file-size" *ngIf="!isUploading">
    <span>{{ size }}</span>
  </div>
  <div class="actions" *ngIf="!isUploading">
    <div class="dropdown-wrapper">
      <i class="fa fa-ellipsis-v"></i>
      <div class="dropdown">
        <a class="item" href="{{ ipfsLink }}" target="_blank"><span>View file <i class="fa fa-external-link-alt"></i></span></a>
        <span class="item copy-{{ipfsHash}}">Copy file link</span>
        <span class="item" (click)="info.displayShareFileByEmailModal([ipfsHash])" data-toggle="tooltip" data-placement="right" title="" data-original-title="Share via email with a link attached for easy share and download.">Share by email</span>
        <span class="item text-danger" (click)="info.removeFiles([ipfsHash])" data-toggle="tooltip" data-placement="right" title="" data-original-title="NOTE: Files cannot be removed from IPFS once they have been uploaded.">Remove</span>
      </div>
    </div>
  </div>
</article>
