<article class="file">
  <div class="progress">
    <span [attr.width]="pctg"></span>
  </div>
  <div class="content">
    <span class="name">{{ name }}</span>
  </div>
  <div class="cancel-upload" *ngIf="false">
    <span class="text-danger">cancel upload</span>
  </div>
  <div class="file-size">
    <span>350kb</span>
  </div>
  <div class="actions">
    <div class="dropdown-wrapper">
      <i class="fa fa-ellipsis-v"></i>
      <div class="dropdown">
        <span class="item">Copy file link</span>
        <span class="item">Share by email</span>
        <span class="item text-danger">Remove</span>
      </div>
    </div>
  </div>
</article>
