<router-outlet></router-outlet>

<app-about-modal></app-about-modal>
<app-share-by-email-modal></app-share-by-email-modal>

<canyalib-language-switch [exclude]="[]"></canyalib-language-switch>

<main class="site-wrapper pb-3" role="main">
  <canyalib-header
    [logo]="{ src: 'assets/img/CanYa_CanShare.svg', alt: 'CanSign Logo', routerLink: ['/documents/index'] }"
    [buttons]="[{ index: 0, innerHtml: 'header.about', class: 'btn btn-primary btn-sm', onClick: [info, 'displayAboutModal'] }]">
    </canyalib-header>

  <div class="container">
    <div class="alert alert-info alert-dismissible fade show" role="alert" id="canshare-alert">
      Send any file size, no sign up necessary!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="document.querySelector('#canshare-alert').remove()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
  </div>

  <app-dropzone></app-dropzone>

  <app-files-list></app-files-list>

</main>

<div id="bancor-wc" class="mb-60"></div>

<app-cards></app-cards>

<section class="section shadow-1" style="background-image: linear-gradient(122deg, #3cf, #01fecd);">
  <div class="container text-center">
    <img src="assets/img/telegram.png" alt="CanYa - telegram" width="auto" height="100px">
    <h4 class="text-white pt-25">Got another question? Ask our active community on Telegram.</h4>
    <br>
    <a href="https://t.me/canyacoin" target="_blank" class="btn btn-lg btn-primary shadow-3">Join us on Telegram</a>
  </div>
</section>

<canyalib-footer></canyalib-footer>
