<div class="modal" *ngIf="display" id="share-by-email-component">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="modal-body" *ngIf="onBeforeSend">
          <nav class="mb-3 text-right">
            <button class="btn btn-outline btn-light" (click)="display = false">{{ 'close' | translate }} <i class="fa fa-times-circle"></i></button>
          </nav>
          <fieldset class="form-group">
            <label for="to">{{ 'send-to' | translate }} <span class="text-primary">*</span></label>
            <input type="email" [(ngModel)]="to" name="to" class="form-control form-control-lg" [attr.placeholder]="'send-to-placeholder' | translate">
            <small class="text-danger" *ngIf="!isValidToEmail" [translate]="invalidToEmailMessage | translate:{email: to}"></small>
          </fieldset>
          <fieldset class="form-group">
            <label for="from">{{ 'from' | translate }} <span class="text-primary">*</span></label>
            <input type="text" [(ngModel)]="from" name="from" class="form-control form-control-lg" [attr.placeholder]="'from-placeholder' | translate">
            <small class="text-danger" *ngIf="!isValidFromEmail">{{ invalidFromEmailMessage | translate }}</small>
          </fieldset>
          <fieldset class="form-group">
            <label for="subject">{{ 'subject' | translate }}</label>
            <input type="text" [(ngModel)]="subject" name="subject" class="form-control form-control-lg" [attr.placeholder]="'subject-placeholder' | translate">
          </fieldset>
          <fieldset class="form-group">
            <label for="message">{{ 'message' | translate }}</label>
            <textarea name="message" [(ngModel)]="message" class="form-control form-control-lg" [attr.placeholder]="'message-placeholder' | translate"></textarea>
          </fieldset>
          <fieldset class="form-group text-center">
            <button class="btn btn-primary btn-lg" (click)="send()">{{ 'send' | translate }}</button>
          </fieldset>
        </div>
        <div class="modal-body" *ngIf="onSending">
          <h1>{{ 'sending' | translate }}</h1>
        </div>
        <div class="modal-body" *ngIf="onAfterSend">
          <nav class="mb-3 text-right">
            <button class="btn btn-outline btn-light" (click)="display = false">{{ 'close' | translate }} <i class="fa fa-times-circle"></i></button>
          </nav>
          <div class="text-center" [innerHTML]="'send-successful' | translate"></div>
        </div>
      </div>
    </div>
  </div>
</div>
