.file {
  @include flex-row;
  background-color: white;
  .progress,
  .content {
    @include flex-column-center;
    height: 70px;
  }
  .progress {
    @include flex-align-center;
    flex-basis: 70px;
    width: 70px;
  }
  .content {
    width: 100%;
  }
  .name {
    font-weight: $bold;
    display: block;
  }
  .link {
    font-size: $font-size-sm;
  }
  .link-placeholder {
    font-size: $font-size-sm;
    color: $gray-300;
  }
  .copy {
    border-radius: $border-radius-sm;
    transition: all 0.2s ease-in-out;
    background-color: $gray-300;
    font-size: $font-size-sm;
    padding: 1px 7px;
    color: white;
    &:hover {
      @include box-shadow-default;
      background-color: $gray-500;
      cursor: pointer;
    }
    &.copied {
      background-color: $green;
    }
  }

  .svg {
    height: 100%;
    width: 100%;
    circle {
      transition: stroke-dashoffset 1s linear;
      stroke-dashoffset: 0;
      stroke-width: 4px;
      stroke: $gray-100;
    }
    .bar {
      stroke: theme-color('primary');
    }
  }
}
