#files-list {
  .wrapper {
  }
  .message {
    @include flex-column-center;
    background-color: rgba(white, 0.5);
    padding: get-spacer(3);
    text-align: center;
    min-height: 70px;
    p {
      margin: 0;
    }
  }
}
