@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

.file {
  @include flex-row;
  border-bottom: 1px solid $gray-100;
  background-color: white;
  position: relative;
  &.is-selected {
    background-color: $blue;
    .content,
    .file-size,
    .actions i {
      color: white;
    }
  }
  .content,
  .cancel-upload,
  .file-size,
  .actions {
    @include flex-column-center;
    padding-right: $container-fluid;
    padding-left: $container-fluid;
    height: 56px;
  }
  .content {
    width: 60%;
  }
  .cancel-upload {
    width: 30%;
  }
  .file-size {
    width: 30%;
  }
  .actions {
    i {
      &:hover {
        cursor: pointer;
        color: $blue;
      }
    }
    &:hover {
      .dropdown {
        display: block;
      }
    }
  }
  .dropdown-wrapper {
    position: relative;
    .dropdown {
      @include box-shadow-default;
      background-color: white;
      position: absolute;
      text-align: center;
      display: none;
      width: 180px;
      right: 12px;
      z-index: 10;
      top: 14px;
      &.display {
        display: block;
      }
    }
    .item {
      @include flex-column-center;
      border-bottom: 1px solid $gray-100;
      min-height: 35px;
      &:hover {
        background-color: $gray-100;
        cursor: pointer;
      }
    }
  }
  .progress {
    background-color: $gray-300;
    position: absolute;
    height: 3px;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    > span {
      background-color: $blue;
      display: inline-block;
      position: absolute;
      height: 3px;
      left: 0;
      top: 0;
    }
    &.fade-out {
      animation: fadeOut 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
  .content {
    width: 100%;
  }
  .name {
    font-weight: $bold;
    display: block;
  }
  .link {
    font-size: $font-size-sm;
  }
  .link-placeholder {
    font-size: $font-size-sm;
    color: $gray-300;
  }
  .copy {
    border-radius: $border-radius-sm;
    transition: all 0.2s ease-in-out;
    background-color: $gray-300;
    font-size: $font-size-sm;
    padding: 1px 7px;
    color: white;
    &:hover {
      @include box-shadow-default;
      background-color: $gray-500;
      cursor: pointer;
    }
    &.copied {
      background-color: $green;
    }
  }
}
